.gradient-custom {
    /* fallback for old browsers */
    background: #b5cc6a;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,#6da67a,#99a66d, #a9bd68, #b5cc6a, #c0de5d);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,#6da67a, #99a66d,#a9bd68, #b5cc6a, #c0de5d)
    }

