*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #f4e196,#a6bf91, #5f9982);
    padding: 0 !important;
}

.navbar-brand img
{
    height: 80px;
    padding-left: 20px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}

/*----------------banner + texto + imagen----------------*/

#banner
{
    background-image: linear-gradient(to right, #76aa86, #569d5e);
    color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}

.titulo-inicio
{
    font-size: 25px;
    font-weight: 600;
    margin-top: 100px;
}

.img-portada
{
    width: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}


/*--------------------------- Carrusel ---------------------------------*/


.carousel-item
{
    width: 80%;
    margin-left: 10%;
    max-width: 120em;    
}


/*------------------- CARD ----------------------------*/

.container
{
    padding: 30px 0;
}


/*---------------- seccion "REDES SOCIALES"----------------*/

#social-media
{
    background-color: #f8f9fa;
    padding: 100px 0;
}

#social-media p
{
    font-size: 30px;
    font-weight: 600px;
    margin-bottom: 30px;
}

.iconos-social img
{
    margin-left: 20px;
    margin-right: 20px;
    width: 10%;
    transition: 0.5s;
}

.iconos-social a:hover img
{
    transform: translateY(-10px);
}

/*---------------- pie de pagina----------------*/

#footer
{
    background-image: linear-gradient(to right, #56da7d, #56da7d);
    color: #fff;
}

.footer-box
{
    padding: 20px;
}



.footer-box .fa
{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #43d46e, #41b163);
}

.footer-box .form-control
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;

}

.footer-box .btn-primary
{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 15px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
 
}

hr
{
    background-color: #fff;
}

.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}