<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'core/css/base.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/tienda.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/login.css'%}">
    <link rel="stylesheet" href="{% static 'core/css/sign-up.css'%}">


    <link rel="icon" type="image/x-icon" href="{% static 'core/img/LOGO.ico'%}">
    <title>{% block title %}{% endblock%}</title>

</head>
<body>
    
<section id="nav-bar">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{% static 'core/images/LOGO.png' %}" alt="LOGO"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
<!-- barra superior -->
        <div class="collapse navbar-collapse" id="navbarNav">
        <!-- ml-auto mueve la navbar automaticamente a la derecha del todo -->    
            <ul class="navbar-nav ml-auto">
                <!-- interior de navbar -->  
                <li class="nav-item">
                <a class="nav-link" href="{%url 'inicio'%}">INICIO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{%url 'tienda'%}">TIENDA</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="#carrito">CARRITO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="#footer">CONTACTO</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="{%url 'sign'%}">REGISTRATE</a>
                </li>
                <li class="nav-item">
                <a class="nav-link " href="{%url 'login'%}">INGRESAR</a>
                </li>
            </ul>            
        </div>
    </nav>  
</section>


{% block content %} {% endblock %}

<!-- FOOTER -->

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">

                <p><b>INFORMACIÓN</b></p>
                <p>Seguimiento de pedido</P>
                <p>Política de despachos</P>
                <p>Contáctanos</P>
                <p>Devoluciones</P>
                <p>Preguntas Frecuentes</P>
                <p>Políticas y Privacidad</P>
                <p>Término y Servicios</P>
                <p>Términos del Servicio</P>
                <p>Política de reembolso</P>
            </div>  

            <div class="col-md-4 footer-box">
                <p><b>CONTACTO</b></p>
                <P><i class="fa fa-map-marker" aria-hidden="true"></i>  Avenida Siempre Viva 123</P>
                <p><i class="fa fa-phone" aria-hidden="true"></i>  FONO: +569111222333</p>
                <P><i class="fa fa-envelope-o" aria-hidden="true"></i>  plantitas@gmail.com</P>
            </div>

            <div class="col-md-4 footer-box">
                <p><b>¡REGÍSTRATE Y RECIBE INFORMACIÓN!</b></p>
                <input type="email" class="form-control" placeholder="Registrate!">
                <button type="button" class="btn btn-primary">Subscríbete!</button>
            </div>
        </div>
        <hr>
        <p class="copyright">Sitio Web creado por Hutsa</p>
    </div>
</section>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</body>
</html>