{%extends 'venta/base.html'%}

{% load static %}
{% block title %} Lista de usuarios {% endblock %}
{% block content %}
<body>
    <div class="container">
        
    <div class="row d-flex justify-content-center">
        
        <form action="usuariosAdd" method="POST" class="col-md-6" enctype="multipart/form-data">
            {% csrf_token %}
            <h1>Crear nuevo usuario</h1>
            <div class="form-group">

                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario:</label>
                    {{form.username}}
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    {{form.email}}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Contraseña:</label>
                    {{form.password1}}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Confirmar Contraseña:</label>
                    {{form.password2}}
                </div>
            </div>
            <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
            <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
        </form>
    </div>
    <a href="{% url 'usuariosList' %}">Volver</a>
</div>  
</body>
{%endblock%}
